{{>header}}
<table class="table table-bordered">
	<thead>
    <tr>
      <th scope="col">Usuario</th>
      <th scope="col">Identidad</th>
      <th scope="col"></th>
    </tr>
  </thead>
{{#each listaInscritos}
<tbody>
    <tr>
      <td>{{this.usuarios.nombre}}</td>
      <td>{{this.usuarios.id}}</td>
      <td>
        <form action="/infoUsuarioCurso" method="post">
        	<input type="hidden" name="iden" value="{{this.usuarios.id}}">
        	<input type="hidden" name="cur" value="{{this.curso.id}}">
        	<input type="submit" name="info" class="btn btn-success" value="Info">
        </form>
      </td>
    </tr>
</tbody>
{{/each}}


<tr>
	<th colspan="2">Total inscritos:	{{totalInscritos}}</th>
	<td>
      	<form action="/dashboard/cerrarCurso" method="post">
           <input type="hidden" name="ID" value="{{Idcurso}}">
           <input type="submit" class="btn btn-danger" value="Cerrar curso" ></input>
      	</form>
     </td>
</tr>

</table>
{{>footer}}